<div nz-row>
  <div nz-col nzSpan="12">
    <img src="assets/images/bg.jpg" />
  </div>
  <div nz-col nzSpan="12" class="user-form">
    <router-outlet></router-outlet>
    <!-- <div nz-col nzSpan="8" nzOffset="8" class="login-form-register">
      <a routerLink="register" *ngIf="currentURL=='login'" (click)="URLClick('register')"><i nz-icon type="plus"
          theme="outline"></i> Register</a>
      <a routerLink="login" *ngIf="currentURL=='register'" (click)="URLClick('login')"><i nz-icon type="login"
          theme="outline"></i> Login</a>
    </div>
    <div nz-col nzSpan="8" class="login-form-forgot">
      <a routerLink="forgot-password"><i nz-icon type="setting" theme="outline"></i> Forgot-password</a>
    </div> -->
  </div>
</div>