<div nz-row nzGutter="24" class="py-lg">
  <div nz-col nzMd="24" nzLg="7">
    <nz-card [nzBordered]="false" class="mb-lg" [nzLoading]="!userData">
      <ng-container *ngIf="userData">
        <div class="avatarHolder">
          <img [src]="userData.profilepic ?userData.profilepic:'assets/images/profile.png'">
          <div class="name">{{userData.StudentName}}</div>
          <div>{{userData.RegistrationID}} <i nz-icon nzType="edit" nzTheme="outline"></i></div>
        </div>
        <div class="detail">
          <nz-spin [nzSpinning]="floating">
            <p class="auto-resize"><i class="title"></i>{{userData.College_Name }}</p>
            <p class="auto-resize">
              <i class="address"></i>
              {{userData.StudentAddress}}
            </p>
          </nz-spin>
        </div>
        <nz-divider nzDashed></nz-divider>
        <div class="avatarHolder">
          <div class="teamTitle">Technical Qualification <i nz-icon nzType="edit" nzTheme="outline"></i>
          </div>
          <nz-spin [nzSpinning]="floating">
            <div nz-row nzGutter="36" *ngIf="userData.students_Technical_info">
              <p class="auto-resize"><i class="group"></i>{{userData.students_Technical_info.CompanyName}} </p>
              <p class="auto-resize"><i nz-icon nzType="profile" nzTheme="outline"></i>
                {{userData.students_Technical_info.Designation}} </p>
            </div>
          </nz-spin>
        </div>
        <nz-divider nzDashed></nz-divider>
        <div class="tags">
          <div class="tagsTitle">Skills</div>
          <nz-tag *ngFor="let tag of tags; let i = index" [nzMode]="i === 0 ? 'default' : 'closeable'"
            (nzAfterClose)="handleClose(tag)">
            {{ sliceTagName(tag) }}
          </nz-tag>
          <nz-tag *ngIf="!inputVisible" class="editable-tag" nzNoAnimation (click)="showInput()">
            <i nz-icon type="plus"></i> New Tag
          </nz-tag>
          <input #inputElement nz-input nzSize="small" *ngIf="inputVisible" type="text" [(ngModel)]="inputValue"
            style="width: 78px;" (blur)="handleInputConfirm()" (keydown.enter)="handleInputConfirm()" />
        </div>
        <nz-divider nzDashed></nz-divider>
        <div class="tags">

        </div>
      </ng-container>
    </nz-card>
  </div>
  <div nz-col nzMd="24" nzLg="17">
    <nz-card class="tabsCard" [nzBordered]="false" [nzTitle]="tagTitleTpl">
      <ng-template #tagTitleTpl>
        <nz-tabset nzSize="large" [nzSelectedIndex]="pos">
          <nz-tab nzTitle="Task List">

          </nz-tab>
          <nz-tab nzTitle="Statistics">
            <nz-row [nzGutter]="16">
              <nz-col [nzSpan]="12">
                <nz-statistic [nzValue]="1949101 | number" [nzTitle]="'Active Users'"></nz-statistic>
              </nz-col>
              <nz-col [nzSpan]="12">
                <nz-statistic [nzValue]="2019.111 | number: '1.0-2'" [nzTitle]="'Account Balance (CNY)'"></nz-statistic>
              </nz-col>
            </nz-row>
          </nz-tab>
          <nz-tab nzTitle="Time">

          </nz-tab>
        </nz-tabset>
      </ng-template>
    </nz-card>
  </div>
</div>