.login-form {
    max-width: 450px;
    padding-left: 25%;
  }


  .login-form-button {
    width: 100%;
  }

  .login-form .college-name{
    width:100%;
  }

  .login-form .college-state{
    width: 100%;
  }