<nz-layout class="dashboardLayout">
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="triggerTemplate">
    <div class="logo">
    </div>
    <ul nz-menu [nzTheme]="'dark'" [nzMode]="'inline'" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu>
        <span title><i nz-icon type="user"></i><span class="nav-text">Account</span></span>
        <ul>
          <li nz-menu-item>Profile</li>
          <li nz-menu-item>settings</li>
        </ul>
      </li>
      <li nz-submenu>
        <span title><i nz-icon type="team"></i><span class="nav-text">College</span></span>
        <ul>
          <li nz-menu-item>Semester info</li>
          <li nz-menu-item>Books Section</li>
          <li nz-menu-item>Fees Section</li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header style="background: #fff; padding:0;">
      <i class="trigger" nz-icon [type]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
        (click)="isCollapsed = !isCollapsed"></i>
      <div class="header-right">
        <span class="Header-portion">
          <nz-badge nzDot><i nz-icon type="bell" theme="outline"></i></nz-badge>
        </span>
        <nz-dropdown [nzPlacement]="'bottomRight'">
          <nz-avatar nz-dropdown nzIcon="anticon anticon-user" nzSrc="{{imageURL}}"></nz-avatar>
          <ul nz-menu>
            <li nz-menu-item routerLink="profile">
              <a><i nz-icon type="profile" theme="outline"></i> Account Profile</a>
            </li>
            <li nz-menu-divider></li>
            <li nz-menu-item (click)="Logout()"><i nz-icon type="logout" theme="outline"></i> Logout</li>
          </ul>
        </nz-dropdown>
      </div>

    </nz-header>
    <nz-content style="margin:0 16px;">
      <nz-breadcrumb style="margin:16px 20px;">
        <nz-breadcrumb-item *ngFor="let breadcumb of routerMapping">{{breadcumb}}</nz-breadcrumb-item>
      </nz-breadcrumb>
      <div style="padding:24px;">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer style="text-align: center;">AlianceApp ©2019 Implement By Ronit Sarma</nz-footer>
  </nz-layout>
</nz-layout>
<ng-template #trigger>
  <i nz-icon type="up"></i>
</ng-template>